<div class="audit-bounties">
  <div class="total-info">
    <p class="rank-info">
      {% if site.audit_bounties_link %}
        <a href="{{ site.audit_bounties_link }}" target="_blank" class="rank-number">
          Rank #{{ site.audit_bounties_rank }} in secure3.io
        </a>
      {% else %}
        <span class="rank-number">Rank #{{ site.audit_bounties_rank }} in secure3.io</span>
      {% endif %}
      <span class="total-amount">Total Bounty: ${{ site.audit_bounties_total }}</span>
    </p>
  </div>
</div>