<div class="audit-bounties">
  <div class="total-info">
    <p class="rank-info">
      <span class="rank-number">Rank #{{ site.audit_bounties_rank }}</span> 
      <span class="total-amount">Total Bounty: ${{ site.audit_bounties_total }}</span>
    </p>
  </div>
</div>